# Configuration file

##########################################################################################################
# data
#--------------------------------------------------------------------------------------------------------#
# Defines a whitelist of which enchantments can be rolled and buffed by the enchantment-amulet. The higher the weight, the more likely that roll is selected.Format: <enchantment-registry-name>:<weight>
##########################################################################################################

data {
    #  [default: [minecraft:protection:10], [minecraft:fire_protection:5], [minecraft:feather_falling:5], [minecraft:blast_protection:2], [minecraft:projectile_protection:5], [minecraft:respiration:2], [minecraft:aqua_affinity:2], [minecraft:thorns:1], [minecraft:depth_strider:2], [minecraft:frost_walker:2], [minecraft:sharpness:10], [minecraft:smite:5], [minecraft:bane_of_arthropods:5], [minecraft:knockback:5], [minecraft:fire_aspect:2], [minecraft:looting:2], [minecraft:sweeping:2], [minecraft:efficiency:10], [minecraft:silk_touch:1], [minecraft:unbreaking:5], [minecraft:fortune:2], [minecraft:power:10], [minecraft:punch:2], [minecraft:flame:2], [minecraft:infinity:1], [minecraft:luck_of_the_sea:2], [minecraft:lure:2], [minecraft:mending:2], [extrautils2:xu.kaboomerang:10], [extrautils2:xu.zoomerang:10], [extrautils2:xu.burnerang:10], [extrautils2:xu.bladerang:10], [extrautils2:xu.boomereaperang:10], [randomthings:magnetic:1], [openblocks:explosive:2], [openblocks:last_stand:5], [openblocks:flim_flam:2], [endercore:xpboost:5], [endercore:autosmelt:2], [tombstone:shadow_step:2], [tombstone:soulbound:2], [tombstone:magic_siphon:2], [tombstone:plague_bringer:2], [tombstone:blessing:2], [tombstone:curse_of_bones:2], [enderio:witherweapon:5], [enderio:repellent:1], [enderio:soulbound:1], [enderio:witherarrow:5], [bibliocraft:bibliocraft.deathcompassench:1], [bibliocraft:bibliocraft.readingench:5], [ebwizardry:magic_sword:10], [ebwizardry:magic_bow:10], [ebwizardry:flaming_weapon:10], [ebwizardry:freezing_weapon:10], [ebwizardry:magic_protection:5], [ebwizardry:frost_protection:2], [ebwizardry:shock_protection:2], [fossil:archeology:1], [fossil:paleontology:1], [somanyenchantments:advancedefficency:2], [somanyenchantments:blessededge:2], [somanyenchantments:butchering:2], [somanyenchantments:defusion:2], [somanyenchantments:advancedbaneofarthropods:2], [somanyenchantments:advancedsharpness:2], [somanyenchantments:advancedsmite:2], [somanyenchantments:fieryedge:1], [somanyenchantments:purification:5], [somanyenchantments:reviledblade:1], [somanyenchantments:rune_piercingcapabilities:1], [somanyenchantments:spellbreaker:2], [somanyenchantments:swifterslashes:1], [somanyenchantments:wateraspect:2], [somanyenchantments:mortalitas:1], [somanyenchantments:penetratingedge:2], [somanyenchantments:combatregeneration:2], [somanyenchantments:advancedknockback:1], [somanyenchantments:rune_magicalblessing:1], [somanyenchantments:counterattack:2], [somanyenchantments:parry:2], [somanyenchantments:lifesteal:2], [somanyenchantments:culling:1], [somanyenchantments:clearsky:2], [somanyenchantments:moonlight:2], [somanyenchantments:raining:1], [somanyenchantments:sunshine:1], [somanyenchantments:thunderstorm:1], [somanyenchantments:winter:1], [somanyenchantments:smelter:1], [somanyenchantments:empowereddefence:2], [somanyenchantments:strafe:5], [somanyenchantments:criticalstrike:2], [somanyenchantments:advancedlooting:1], [somanyenchantments:levitator:2], [somanyenchantments:magicprotection:5], [somanyenchantments:physicalprotection:2], [somanyenchantments:ashdestroyer:2], [somanyenchantments:desolator:2], [somanyenchantments:disorientation:2], [somanyenchantments:purgingblade:5], [somanyenchantments:viper:2], [somanyenchantments:advancedpower:1], [somanyenchantments:envenomed:2], [somanyenchantments:rune_revival:1], [somanyenchantments:advancedpunch:1], [somanyenchantments:advancedlure:1], [somanyenchantments:advancedluckofthesea:1], [somanyenchantments:advancedfeatherfalling:1], [somanyenchantments:advancedthorns:2], [somanyenchantments:burningthorns:1], [somanyenchantments:advancedprotection:1], [somanyenchantments:advancedfireprotection:1], [somanyenchantments:advancedblastprotection:2], [somanyenchantments:advancedprojectileprotection:2], [somanyenchantments:quarrying:1], [somanyenchantments:mathematics:2], [somanyenchantments:science:2], [somanyenchantments:history:2], [somanyenchantments:english:2], [somanyenchantments:pe:2], [somanyenchantments:atomicdeconstructor:2], [somanyenchantments:disarmament:2], [somanyenchantments:hors_de_combat:2], [somanyenchantments:supremesharpness:1], [somanyenchantments:lessersharpness:10], [somanyenchantments:lesserbaneofarthropods:10], [somanyenchantments:supremebaneofarthropods:1], [somanyenchantments:lessersmite:10], [somanyenchantments:supremesmite:1], [somanyenchantments:sfa:1], [somanyenchantments:afa:2], [somanyenchantments:lfa:10], [somanyenchantments:swiper:1], [somanyenchantments:freezing:2], [somanyenchantments:advancedmending:1], [somanyenchantments:lfl:10], [somanyenchantments:afl:1], [somanyenchantments:sfl:1], [somanyenchantments:splitshot:1], [somanyenchantments:sharperedge:2], [somanyenchantments:rune_resurrection:1], [somanyenchantments:flinging:5], [somanyenchantments:strengthenedvitality:1], [somanyenchantments:difficultyscaled:2], [somanyenchantments:meltdown:1], [somanyenchantments:welltilled:5], [somanyenchantments:upgrade:2], [somanyenchantments:scythedamage:2], [somanyenchantments:adept:2], [somanyenchantments:brutality:2], [somanyenchantments:magmawalker:1], [somanyenchantments:inhumane:2], [somanyenchantments:fieryshield:2], [somanyenchantments:naturalblocking:2], [somanyenchantments:darkshadows:2], [somanyenchantments:rune_armorpiercing:1], [somanyenchantments:innerberserk:1], [somanyenchantments:ancientcurseinflicter:1], [somanyenchantments:tillingpower:2], [somanyenchantments:luckmagnification:2], [somanyenchantments:lightweight:2], [somanyenchantments:underwaterstrider:2], [somanyenchantments:frenzy:2], [somanyenchantments:pushing:1], [somanyenchantments:pulling:1], [somanyenchantments:evasion:2], [somanyenchantments:unsheathing:1], [somanyenchantments:swordmastery:1], [somanyenchantments:truestrike:2], [spartanshields:ssenchspikes:5], [spartanweaponry:propulsion:5], [spartanweaponry:razors_edge:10], [spartanweaponry:incendiary:2], [spartanweaponry:lucky_throw:2], [spartanweaponry:hydrodynamic:1], [spartanweaponry:supercharge:2], [spartanweaponry:expanse:2], [spartanweaponry:return:1], [spartanweaponry:rapid_load:5], [spartanweaponry:spreadshot:2], [spartanweaponry:sharpshooter:2], [cofhcore:holding:5], [cofhcore:insight:5], [cofhcore:leech:5], [cofhcore:multishot:5], [cofhcore:smashing:2], [cofhcore:smelting:2], [cofhcore:soulbound:5], [cofhcore:vorpal:2], [apotheosis:hell_infusion:1], [apotheosis:mounted_strike:2], [apotheosis:depth_miner:2], [apotheosis:stable_footing:2], [apotheosis:scavenger:1], [apotheosis:icy_thorns:2], [apotheosis:tempting:5], [apotheosis:shield_bash:2], [apotheosis:reflective:2], [apotheosis:knowledge:2], [apotheosis:splitting:2], [apotheosis:natures_blessing:2], [apotheosis:rebounding:2], [apotheosis:magic_protection:5], [apotheosis:capturing:1], [apotheosis:true_infinity:1], [astralsorcery:enchantment.as.nightvision:1], [astralsorcery:enchantment.as.smelting:1], [lepidodendron:pf_time_reversal:2], [simplyjetpacks:fuel_efficiency:1]]
    S:data <
        minecraft:protection:10
        minecraft:fire_protection:5
        minecraft:feather_falling:5
        minecraft:blast_protection:2
        minecraft:projectile_protection:5
        minecraft:respiration:2
        minecraft:aqua_affinity:2
        minecraft:thorns:1
        minecraft:depth_strider:2
        minecraft:frost_walker:2
        minecraft:sharpness:10
        minecraft:smite:5
        minecraft:bane_of_arthropods:5
        minecraft:knockback:5
        minecraft:fire_aspect:2
        minecraft:looting:2
        minecraft:sweeping:2
        minecraft:efficiency:10
        minecraft:silk_touch:1
        minecraft:unbreaking:5
        minecraft:fortune:2
        minecraft:power:10
        minecraft:punch:2
        minecraft:flame:2
        minecraft:infinity:1
        minecraft:luck_of_the_sea:2
        minecraft:lure:2
        minecraft:mending:2
        extrautils2:xu.kaboomerang:10
        extrautils2:xu.zoomerang:10
        extrautils2:xu.burnerang:10
        extrautils2:xu.bladerang:10
        extrautils2:xu.boomereaperang:10
        randomthings:magnetic:1
        openblocks:explosive:2
        openblocks:last_stand:5
        openblocks:flim_flam:2
        projectred-expansion:electric_efficiency:2
        endercore:xpboost:5
        endercore:autosmelt:2
        tombstone:shadow_step:2
        tombstone:soulbound:2
        tombstone:magic_siphon:2
        tombstone:plague_bringer:2
        tombstone:blessing:2
        tombstone:curse_of_bones:2
        enderio:soulbound:1
        enderio:witherarrow:5
        enderio:witherweapon:5
        enderio:repellent:1
        bibliocraft:bibliocraft.deathcompassench:1
        bibliocraft:bibliocraft.readingench:5
        ebwizardry:magic_sword:10
        ebwizardry:magic_bow:10
        ebwizardry:flaming_weapon:10
        ebwizardry:freezing_weapon:10
        ebwizardry:magic_protection:5
        ebwizardry:frost_protection:2
        ebwizardry:shock_protection:2
        fossil:archeology:1
        fossil:paleontology:1
        futuremc:loyalty:5
        futuremc:channeling:1
        futuremc:riptide:2
        futuremc:impaling:2
        somanyenchantments:advancedefficency:2
        somanyenchantments:blessededge:2
        somanyenchantments:butchering:2
        somanyenchantments:defusion:2
        somanyenchantments:advancedbaneofarthropods:2
        somanyenchantments:advancedsharpness:2
        somanyenchantments:advancedsmite:2
        somanyenchantments:fieryedge:1
        somanyenchantments:purification:5
        somanyenchantments:reviledblade:1
        somanyenchantments:rune_piercingcapabilities:1
        somanyenchantments:spellbreaker:2
        somanyenchantments:swifterslashes:1
        somanyenchantments:wateraspect:2
        somanyenchantments:mortalitas:1
        somanyenchantments:penetratingedge:2
        somanyenchantments:combatregeneration:2
        somanyenchantments:advancedknockback:1
        somanyenchantments:rune_magicalblessing:1
        somanyenchantments:counterattack:2
        somanyenchantments:parry:2
        somanyenchantments:lifesteal:2
        somanyenchantments:culling:1
        somanyenchantments:clearsky:2
        somanyenchantments:moonlight:2
        somanyenchantments:raining:1
        somanyenchantments:sunshine:1
        somanyenchantments:thunderstorm:1
        somanyenchantments:winter:1
        somanyenchantments:smelter:1
        somanyenchantments:empowereddefence:2
        somanyenchantments:strafe:5
        somanyenchantments:criticalstrike:2
        somanyenchantments:advancedlooting:1
        somanyenchantments:levitator:2
        somanyenchantments:magicprotection:5
        somanyenchantments:physicalprotection:2
        somanyenchantments:ashdestroyer:2
        somanyenchantments:desolator:2
        somanyenchantments:disorientation:2
        somanyenchantments:purgingblade:5
        somanyenchantments:viper:2
        somanyenchantments:advancedpower:1
        somanyenchantments:envenomed:2
        somanyenchantments:rune_revival:1
        somanyenchantments:advancedpunch:1
        somanyenchantments:advancedlure:1
        somanyenchantments:advancedluckofthesea:1
        somanyenchantments:advancedfeatherfalling:1
        somanyenchantments:advancedthorns:2
        somanyenchantments:burningthorns:1
        somanyenchantments:advancedprotection:1
        somanyenchantments:advancedfireprotection:1
        somanyenchantments:advancedblastprotection:2
        somanyenchantments:advancedprojectileprotection:2
        somanyenchantments:quarrying:1
        somanyenchantments:mathematics:2
        somanyenchantments:science:2
        somanyenchantments:history:2
        somanyenchantments:english:2
        somanyenchantments:pe:2
        somanyenchantments:atomicdeconstructor:2
        somanyenchantments:disarmament:2
        somanyenchantments:hors_de_combat:2
        somanyenchantments:supremesharpness:1
        somanyenchantments:lessersharpness:10
        somanyenchantments:lesserbaneofarthropods:10
        somanyenchantments:supremebaneofarthropods:1
        somanyenchantments:lessersmite:10
        somanyenchantments:supremesmite:1
        somanyenchantments:sfa:1
        somanyenchantments:afa:2
        somanyenchantments:lfa:10
        somanyenchantments:swiper:1
        somanyenchantments:freezing:2
        somanyenchantments:advancedmending:1
        somanyenchantments:lfl:10
        somanyenchantments:afl:1
        somanyenchantments:sfl:1
        somanyenchantments:splitshot:1
        somanyenchantments:sharperedge:2
        somanyenchantments:rune_resurrection:1
        somanyenchantments:flinging:5
        somanyenchantments:strengthenedvitality:1
        somanyenchantments:difficultyscaled:2
        somanyenchantments:meltdown:1
        somanyenchantments:welltilled:5
        somanyenchantments:upgrade:2
        somanyenchantments:scythedamage:2
        somanyenchantments:adept:2
        somanyenchantments:brutality:2
        somanyenchantments:magmawalker:1
        somanyenchantments:inhumane:2
        somanyenchantments:fieryshield:2
        somanyenchantments:naturalblocking:2
        somanyenchantments:darkshadows:2
        somanyenchantments:rune_armorpiercing:1
        somanyenchantments:innerberserk:1
        somanyenchantments:ancientcurseinflicter:1
        somanyenchantments:tillingpower:2
        somanyenchantments:luckmagnification:2
        somanyenchantments:lightweight:2
        somanyenchantments:underwaterstrider:2
        somanyenchantments:frenzy:2
        somanyenchantments:pushing:1
        somanyenchantments:pulling:1
        somanyenchantments:evasion:2
        somanyenchantments:unsheathing:1
        somanyenchantments:swordmastery:1
        somanyenchantments:truestrike:2
        spartanweaponry:propulsion:5
        spartanweaponry:razors_edge:10
        spartanweaponry:incendiary:2
        spartanweaponry:lucky_throw:2
        spartanweaponry:hydrodynamic:1
        spartanweaponry:supercharge:2
        spartanweaponry:expanse:2
        spartanweaponry:return:1
        spartanweaponry:rapid_load:5
        spartanweaponry:spreadshot:2
        spartanweaponry:sharpshooter:2
        spartanshields:ssenchspikes:5
        ancientspellcraft:static_charge:10
        ancientspellcraft:degrade_sword:10
        ancientspellcraft:degrade_bow:10
        cofhcore:holding:5
        cofhcore:insight:5
        cofhcore:leech:5
        cofhcore:multishot:5
        cofhcore:smashing:2
        cofhcore:smelting:2
        cofhcore:soulbound:5
        cofhcore:vorpal:2
        apotheosis:hell_infusion:1
        apotheosis:mounted_strike:2
        apotheosis:depth_miner:2
        apotheosis:stable_footing:2
        apotheosis:scavenger:1
        apotheosis:icy_thorns:2
        apotheosis:tempting:5
        apotheosis:shield_bash:2
        apotheosis:reflective:2
        apotheosis:knowledge:2
        apotheosis:splitting:2
        apotheosis:natures_blessing:2
        apotheosis:rebounding:2
        apotheosis:magic_protection:5
        apotheosis:capturing:1
        apotheosis:true_infinity:1
        astralsorcery:enchantment.as.nightvision:1
        astralsorcery:enchantment.as.smelting:1
        mujmajnkraftsbettersurvival:vampirism:2
        mujmajnkraftsbettersurvival:agility:2
        mujmajnkraftsbettersurvival:arrowrecovery:5
        mujmajnkraftsbettersurvival:assassinate:2
        mujmajnkraftsbettersurvival:bash:2
        mujmajnkraftsbettersurvival:blast:2
        mujmajnkraftsbettersurvival:blockpower:10
        mujmajnkraftsbettersurvival:combo:2
        mujmajnkraftsbettersurvival:disarm:2
        mujmajnkraftsbettersurvival:heavy:2
        mujmajnkraftsbettersurvival:highjump:2
        mujmajnkraftsbettersurvival:diamonds:2
        mujmajnkraftsbettersurvival:reflection:2
        mujmajnkraftsbettersurvival:tunneling:2
        mujmajnkraftsbettersurvival:smelting:1
        mujmajnkraftsbettersurvival:education:2
        mujmajnkraftsbettersurvival:versatility:5
        mujmajnkraftsbettersurvival:multishot:5
        mujmajnkraftsbettersurvival:range:2
        mujmajnkraftsbettersurvival:rapidfire:2
        mujmajnkraftsbettersurvival:spellshield:5
        mujmajnkraftsbettersurvival:penetration:2
        mujmajnkraftsbettersurvival:fling:2
        mujmajnkraftsbettersurvival:vitality:2
        mujmajnkraftsbettersurvival:weightless:5
        elenaidodge2:lightweight:5
        lepidodendron:pf_time_reversal:1
        simplyjetpacks:fuel_efficiency:1
        aquaculture:appealing:2
        aquaculture:magnetic:2
        aquaculture:long_cast:10
        aquaculture:short_cast:10
        aquaculture:double_hook:1
        aquaculture:barbed_hook:1
        aquaculture:heavy_line:5
     >
}


